[Unit]
Description=kittygram gunicorn daemon

After=network.target

[Service]
User=yc-user

WorkingDirectory=/home/yc-user/infra_sprint1/backend/

ExecStart=/home/yc-user/infra_sprint1/backend/venv/bin/gunicorn --bind 0.0.0.0:8080 kittygram_backend.wsgi

[Install]
WantedBy=multi-user.target

